name: pre-commit

on:
  pull_request:
  push:
    branches: [main]
  merge_group:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - uses: julia-actions/setup-julia@v2
    - uses: julia-actions/cache@v2
    - run: julia -e 'using Pkg; Pkg.add("JuliaFormatter")'
    - uses: ./.github/actions/pre-commit
